@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout styles */
section {
  position: relative;
}

[data-dots-bg] {
  opacity: 20%;
  pointer-events: none;
  background: url("/images/dot.png") 0% 0% / 8px 8px repeat, #fff;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e3e5e7;
}

/* Custom styles */
.custom-flex-col {
  display: flex;
  flex-direction: column;
}

.custom-flex-col > * {
  width: 100%;
}

.custom-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global styles */
.gradient-cta {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        150deg,
        #8c1380 0%,
        #f15bd0 50%,
        rgba(247, 165, 229, 0.55) 100%
      )
      border-box;
  border: 1px solid transparent;
}

.gradient-cta-text {
  font-feature-settings: "cv01" on, "cv03" on, "cv04" on;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: -0.48px;
  background: linear-gradient(
    180deg,
    #6c50e0 0%,
    rgba(169, 71, 134, 0.9) 51%,
    rgba(228, 63, 48, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar styles */
header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.65,0,0.35,1);
}

header.navbar-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(-150%) scale(0.9);
}

.navbar-link.active {
  background: #fdfeff;
  box-shadow: 0px 0px 0px 1px rgba(228, 231, 236, 0.61),
    0px 1px 3px 0px rgba(226, 226, 226, 0.1),
    0px -2px 0.75px 0px rgba(0, 0, 0, 0.12) inset,
    0px -1px 0px 0px #f6f6f6 inset;
}

.navbar-link.active p {
  color: #344054;
}

.navbar-link:not(.active):hover {
  background-color: #fdfeff;
  box-shadow: 0px 1px 3px 0px rgba(226, 226, 226, 0.1),
    0px 2px 1.75px 0px rgba(0, 0, 0, 0.12) inset, 0px -3px 0px 0px #e8e8e8 inset;
}

.navbar-link:not(.active):hover p {
  color: #667185;
}

/* Hero styles */
.hero-mockup-nav-shadow {
  position: relative;
}

.hero-mockup-nav-shadow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  filter: blur(8px);
  border-radius: 9999px;
  background-color: #3f3f46;
  z-index: -1;
}

.hero-mockup-nav-action-shadow {
  --color: #6423ec;

  position: relative;
}

.hero-mockup-nav-action-shadow::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(12px);
  background: var(--color);
  border-radius: 9999px;
  transition: 0.3s;
  z-index: -1;
}

.hero-mockup-nav-action-shadow.active::before {
  opacity: 0.5;
}

@media (hover: hover) {
  .hero-mockup-nav-action-shadow:hover::before {
    opacity: 0.5;
  }
}

/* Video player styles */
input[type="range"].video-player-range {
  --value: 0%; /* Initial value */
  --color: #0c0a14; /* Initial color */

  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"].video-player-range::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--color) var(--value),
    #d9d9d9 var(--value)
  );
  height: 3px;
  border-radius: 1px;
}

/******** Firefox ********/
input[type="range"].video-player-range::-moz-range-track {
  background: linear-gradient(
    to right,
    var(--color) var(--value),
    #d9d9d9 var(--value)
  );
  height: 3px;
  border-radius: 1px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"].video-player-range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color);
  margin-top: -3px;
  height: 9px;
  width: 9px;
  opacity: 0;
  transition: 0.3s;
  border-radius: 100%;
}

input[type="range"].video-player-range:hover::-webkit-slider-thumb {
  opacity: 1;
}

/* Ripple effect */
[data-custom-ripple] {
  position: relative;
}

[data-custom-ripple]::after {
  background: rgba(0, 0, 0, 0.05);
}

[data-custom-ripple]:hover::after,
[data-stats-button]:hover [data-custom-ripple]::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

[data-custom-ripple]::after,
.custom-ripple-effect::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 180%;
  height: 180%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.custom-ripple-effect {
  position: relative;
}

.custom-ripple-effect::after {
  background: rgba(255, 255, 255, 0.2);
}

.custom-ripple-effect:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.custom-ripple-bg {
  position: relative;
}

.custom-ripple-bg > * {
  position: relative;
  z-index: 1;
}

.custom-ripple-bg::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 180%;
  height: 180%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
